<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>//AMCorvi - About </title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v4-alpha.getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
                <a href="/welcome">//AMCorvi</a>
              </h3>
              <nav class="nav nav-masthead">
                <a class="nav-link " href="/welcome">Home</a>
                <a class="nav-link active" href="/about">About</a>
                <a class="nav-link" href="/portfolio">Portfolio</a>
                <a class="nav-link" href="/blog">Blog</a>
                <a class="nav-link" href="/contact">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading col-center">¡Hola! I'm AMCorvi...</h1>
            <p class="lead">I am a webdevelop born, raised and living in <u><b>New York City</b></u> </br> ('The Greatest Place on Earth'). <br> <br> I have had a life long fashionation with <i>computers and code</i> ever since I saw the movie 'Hackers' at the age of 7 (Team "Zero Cool" Right!). <br> I aspire to leverage technology to change the world we live in ways both big and small. You'll catch me spending my off time coding, dancing,  mentoring and fawning over vinyl records... </p>
            <p class="lead">
              <a href="#" class="btn btn-md btn-info"><b>Say Hi! <br> & <br> Inquire for More Info Here</b></a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p footer-tagline>
                <a href="https://twitter.com/amcorvi">@AMCorvi</a>
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


  </body>
</html>
