<nav class="navbar navbar-default navbar-static-top navbar-top" >
  <a class="navbar-brand" href="/welcome">//AMCorvi</a>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item ">
      <a class="nav-link" href="/welcome">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" href="/portfolio">Portfolio<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>
</nav>
