<!DOCTYPE html>


<div class="header">

  <nav class="navbar navbar-default navbar-static-top navbar-top" >
    <a class="navbar-brand" href="/welcome">//AMCorvi</a>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item ">
        <a class="nav-link" href="/welcome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" href="/portfolio">Portfolio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>

</div>



          <div class="container">
            <div class="row">
              <div class="col-xs-6 col-xs-push-3 text-center">
                <h1> Portfolio... </h1>
                <p class="lead" > This is just a sample of some of projects I have made demonstrating a portion of the technologies that I use. <br> Find me on twitter <a href="#">@AMCorvi</a> and let me know what you think! </p>
              </div>
            </div>
          </div>

          </div>
