<!DOCTYPE html>

                                  <!-- Navigation -->
    <div class="header">

      <nav class="navbar navbar-default navbar-static-top margin-kill" >
        <a class="navbar-brand " href="#">//AMCorvi</a>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item active">
            <a class="nav-link" href="/welcome">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>

    </div>

                            <!-- Welcome Page Jumbotron -->
    <div class="jumbotron banner-top">
      <div class="container">
        <div class="row">
          <div class="col-md-7 pull-right">
            <h1 class="text-danger transpan">AMCorvi - Web Developer</h1>
            <p >
              "Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program." <br> - Linus Tarvolds
            </p>
          </div>
        </div>
      </div>
    </div>


                              <!-- Blog Page Preview -->



    <div class="container blog-preview">
        <div class="row">


        <h2 class=""><a href="">Recent Blog Posts</a></h2>
            <div class="media">
              <a class="media-left" href="#">
                <img class="media-object" src="http://www.placehold.it/100x100" alt="PIC">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellendus quae laborum ut at, quod asperiores nobis provident ipsam veritatis quo sequi, eum quos saepe id quas cum corrupti recusandae voluptas esse? Odio nihil aliquid quibusdam alias minima natus nisi.</p>
              </div>
            </div>

              <div class="media">
                <a class="media-right pull-right" href="#">
                  <img class="media-object" src="http://www.placehold.it/100x100" alt="PIC">
                </a>
                <div class="media-body">
                  <h4 class="media-heading text-right">Media heading</h4>
                  <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellendus quae laborum ut at, quod asperiores nobis provident ipsam veritatis quo sequi, eum quos saepe id quas cum corrupti recusandae voluptas esse? Odio nihil aliquid quibusdam alias minima natus nisi.</p>
                </div>
              </div>

                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="http://www.placehold.it/100x100" alt="PIC">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellendus quae laborum ut at, quod asperiores nobis provident ipsam veritatis quo sequi, eum quos saepe id quas cum corrupti recusandae voluptas esse? Odio nihil aliquid quibusdam alias minima natus nisi.</p>
                  </div>
                </div>

        </div>
      </div>


      <hr>


                                <!-- Portfolio Preview -->
  <h2 class=" display-3 "><a href="/portfolio">Featured Projects</a></h2>



      <div class="container portfolio-preview ">
        <div class="row">

          <div class="card-columns ">
            <div class="card col-xs-6 col-xs-push-3">
              <img class="card-img-top" data-src="holder.js/100%x160/" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{4:Card title that wraps to a new line}</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

      </div>
    </div>

      <footer>
        <p class="footer-tagline"> </p>
      </footer>

    </div>
